<div class="container">
  <h3>{{sequence}}. {{title}}</h3>
  <ul class="nav nav-tabs tab">
    <li [ngClass]="{'active': tab==='description'}"><a (click)="changeTab('description')" class="tab-item icon-btn"><i class="fa fa-list-alt"></i>Descripton</a></li>
    <li [ngClass]="{'active': tab==='hints'}"><a (click)="changeTab('hints')" class="tab-item icon-btn"><i class="fa fa-lightbulb-o"></i>Hints</a></li>
    <li [ngClass]="{'active': tab==='submissions'}"><a (click)="changeTab('submissions')" class="tab-item icon-btn"><i class="fa fa-file-code-o"></i>Submissions</a></li>
    <li [ngClass]="{'active': tab==='solution'}"><a (click)="changeTab('solution')" class="tab-item icon-btn"><i class="fa fa-flask"></i>Solution</a></li>
  </ul>
  <br>
  <div *ngIf="tab==='description'" innerHTML={{description}}></div>
  <div *ngIf="tab==='hints'" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title">
          <a data-toggle="collapse" href="#collapse1" class="icon-btn hint-link">
            <i class="fa fa-lightbulb-o"></i>Show Hint <i class="fa fa-caret-down collapse" data-toggle="collapse"></i>
          </a>
        </h5>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">{{hints}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="tab==='submissions'">
    <div *ngIf="submissions.length">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th style="display:none;"></th>
            <th>Time Submitted</th>
            <th>Status</th>
            <th>Runtime</th>
            <th>Language</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let submission of submissions">
            <td style="display:none;">{{submission._id}}</td>
            <td>{{submission.timesubmitted | date : "yyyy/MM/dd hh:mm:ss" }}</td>
            <td>
              <app-widget-status-link link="../../submission/{{submission._id}}" [testResult]="submission.status"></app-widget-status-link>
            </td>
            <td><span *ngIf="submission.status=='pass'">{{submission.runtime}} ms</span><span *ngIf="submission.status=='fail'">N/A</span></td>
            <td>{{submission.language}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!submissions.length">
      <div style="padding: 50px; text-align: center;">
        <p>
          <font size="5" color="#8f9193">You have no submission yet.</font>
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="tab==='solution'">
    <app-ngx-editor [config]="editorConfig" [(ngModel)]="solution"></app-ngx-editor>
  </div>
  <hr />
  <div>
    
    <div id="blocklyDiv" style="width: 100%; height: 500px"></div> 
    
    <xml id="toolbox" style="display: none">
      <category id="catLogic" colour="210" name="Logic">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>
   <!-- <block type="logic_negate"></block>
        <block type="logic_boolean"></block>
        <block type="logic_null"></block>
        <block type="logic_ternary"></block> -->
      </category>
  <category id="catLoops" colour="120" name="Loops">
        <block type="controls_repeat_ext">
          <value name="TIMES">
            <shadow type="math_number">
              <field name="NUM">10</field>
            </shadow>
          </value>
        </block>
        <block type="controls_whileUntil"></block>
        <block type="controls_for">
          <value name="FROM">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="TO">
            <shadow type="math_number">
              <field name="NUM">10</field>
            </shadow>
          </value>
          <value name="BY">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
        </block>
        <block type="controls_forEach"></block>
        <block type="controls_flow_statements"></block>
      </category> 
      <category id="catMath" colour="230" name="Math">
        <block type="math_number"></block>
        <block type="math_arithmetic">
          <value name="A">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="B">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
        </block>
        <block type="math_single">
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">9</field>
            </shadow>
          </value>
        </block>
        <block type="math_trig">
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">45</field>
            </shadow>
          </value>
        </block>
        <block type="math_constant"></block>
        <block type="math_number_property">
          <value name="NUMBER_TO_CHECK">
            <shadow type="math_number">
              <field name="NUM">0</field>
            </shadow>
          </value>
        </block>
        <block type="math_change">
          <value name="DELTA">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
        </block>
        <block type="math_round">
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">3.1</field>
            </shadow>
          </value>
        </block>
        <block type="math_on_list"></block>
        <block type="math_modulo">
          <value name="DIVIDEND">
            <shadow type="math_number">
              <field name="NUM">64</field>
            </shadow>
          </value>
          <value name="DIVISOR">
            <shadow type="math_number">
              <field name="NUM">10</field>
            </shadow>
          </value>
        </block>
        <block type="math_constrain">
          <value name="VALUE">
            <shadow type="math_number">
              <field name="NUM">50</field>
            </shadow>
          </value>
          <value name="LOW">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="HIGH">
            <shadow type="math_number">
              <field name="NUM">100</field>
            </shadow>
          </value>
        </block>
        <block type="math_random_int">
          <value name="FROM">
            <shadow type="math_number">
              <field name="NUM">1</field>
            </shadow>
          </value>
          <value name="TO">
            <shadow type="math_number">
              <field name="NUM">100</field>
            </shadow>
          </value>
        </block>
        <block type="math_random_float"></block>
      </category>
      <category id="catText" colour="160" name="Text">
        <block type="text"></block>
        <block type="text_join"></block>
        <block type="text_append">
          <value name="TEXT">
            <shadow type="text"></shadow>
          </value>
        </block>
        <block type="text_length">
          <value name="VALUE">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_isEmpty">
          <value name="VALUE">
            <shadow type="text">
              <field name="TEXT"></field>
            </shadow>
          </value>
        </block>
        <block type="text_indexOf">
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR">text</field>
            </block>
          </value>
          <value name="FIND">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_charAt">
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR">text</field>
            </block>
          </value>
        </block>
        <block type="text_getSubstring">
          <value name="STRING">
            <block type="variables_get">
              <field name="VAR">text</field>
            </block>
          </value>
        </block>
        <block type="text_changeCase">
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_trim">
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_print">
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
        <block type="text_prompt_ext">
          <value name="TEXT">
            <shadow type="text">
              <field name="TEXT">abc</field>
            </shadow>
          </value>
        </block>
      </category>
      <category id="catLists" colour="260" name="Lists">
        <block type="lists_create_with">
          <mutation items="0"></mutation>
        </block>
        <block type="lists_create_with"></block>
        <block type="lists_repeat">
          <value name="NUM">
            <shadow type="math_number">
              <field name="NUM">5</field>
            </shadow>
          </value>
        </block>
        <block type="lists_length"></block>
        <block type="lists_isEmpty"></block>
        <block type="lists_indexOf">
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR">list</field>
            </block>
          </value>
        </block>
        <block type="lists_getIndex">
          <value name="VALUE">
            <block type="variables_get">
              <field name="VAR">list</field>
            </block>
          </value>
        </block>
        <block type="lists_setIndex">
          <value name="LIST">
            <block type="variables_get">
              <field name="VAR">list</field>
            </block>
          </value>
        </block>
        <block type="lists_getSublist">
          <value name="LIST">
            <block type="variables_get">
              <field name="VAR">list</field>
            </block>
          </value>
        </block>
        <block type="lists_split">
          <value name="DELIM">
            <shadow type="text">
              <field name="TEXT">,</field>
            </shadow>
          </value>
        </block>
        <block type="lists_sort"></block>
      </category>
      <category id="catColour" colour="20" name="Color">
        <block type="colour_picker"></block>
        <block type="colour_random"></block>
        <block type="colour_rgb">
          <value name="RED">
            <shadow type="math_number">
              <field name="NUM">100</field>
            </shadow>
          </value>
          <value name="GREEN">
            <shadow type="math_number">
              <field name="NUM">50</field>
            </shadow>
          </value>
          <value name="BLUE">
            <shadow type="math_number">
              <field name="NUM">0</field>
            </shadow>
          </value>
        </block>
        <block type="colour_blend">
          <value name="COLOUR1">
            <shadow type="colour_picker">
              <field name="COLOUR">#ff0000</field>
            </shadow>
          </value>
          <value name="COLOUR2">
            <shadow type="colour_picker">
              <field name="COLOUR">#3333ff</field>
            </shadow>
          </value>
          <value name="RATIO">
            <shadow type="math_number">
              <field name="NUM">0.5</field>
            </shadow>
          </value>
        </block>
      </category>
      <sep></sep>
      <category id="catVariables" colour="330" custom="VARIABLE" name="Variables"></category>
      <category id="catFunctions" colour="290" custom="PROCEDURE" name="Functions"></category>
    </xml>   

    <form class="form-horizontal" [formGroup]="baseForm">
      <div class="form-group">
        <div class="col-sm-10">
          <input *ngIf="username" type="submit" [disabled]="loading || loading2" class="btn btn-success" (click)="onSave()" value="Save">
          <app-widget-loading-image [loading]="isLoading()"></app-widget-loading-image>
          <button type="button" [disabled]="loading || loading2" class="btn btn-info" (click)="back('/questions')">Back</button>
        </div>
        <div class="col-sm-2">
          <button *ngIf="username" type="submit" [disabled]="loading || loading2" class="btn btn-primary" (click)="onSubmitSolution()">Submit Solution</button>
          <app-widget-loading-image [loading]="isLoading2()"></app-widget-loading-image>
          <app-widget-status-image [testResult]="testResult"></app-widget-status-image>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <app-widget-result-panel [(testResult)]="testResult" [resultMessage]="resultMessage"></app-widget-result-panel>
      </div>
    </form>
  </div>
