<div class="container">
  <h2>Problemas</h2>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="display:none;"></th>
        <th>#</th>
        <th>Título</th>
        <th>Dificultad</th>
        <th>Frecuencia</th>
        <th style="text-align:center" *ngIf="username !== ''">Superado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td style="display:none;">{{question._id}}</td>
        <td>{{question.sequence}}</td>
        <td><a type="button" [routerLink]="['/question/', question.uniquename]">{{question.title}}</a></td>
        <td>
          <app-widget-contextual-label [difficulty]="[question.difficulty]"></app-widget-contextual-label>
        </td>
        <td>
          <app-widget-frequency-bar [frequency]="freqList[question.sequence-1]"></app-widget-frequency-bar>
        </td>
        <td style="text-align:center">
          <ng-container *ngIf="doneList[question.sequence-1] == 'res'">
            &#x2714;
          </ng-container>
          <ng-container *ngIf="doneList[question.sequence-1] == 'ni'">
            &#x268A;
          </ng-container>
          <ng-container *ngIf="doneList[question.sequence-1] == 'i'">
            &#x2715;      
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>