<div class="container">
  <h3><a type="button" [routerLink]="['/question/', questionname]">{{getQuestionName()}}</a></h3>
  <hr />
  <div>
    <div class="form-group submission">
      <div class="col-sm-4 submission-date">
        Fecha de Entrega: {{timesubmitted | date : "yyyy/MM/dd hh:mm:ss" }}
      </div>
      <div class="col-sm-4 submission-status">
        Estado:
        <app-widget-status-link [testResult]="status"></app-widget-status-link>
      </div>
      <div class="col-sm-4 submission-retry">
        <button type="submit" class="btn btn-primary" [routerLink]="['/question/', questionname]" [queryParams] = "{sub_id: id}">Editar</button>
      </div>
    </div>
    <div class="col-sm-12 code-editor-div">
      <ngx-monaco-editor class="solution-code-editor" [options]="editorOptions1" [(ngModel)]="code1"></ngx-monaco-editor>
    </div>
    <div>
      <div class="col-sm-12 code-editor-div" id="blocklyDiv" style="width: 100%; height: 300px"></div> 
    <div>
    <hr />
  </div>