<div class="container">
  <h2>Users</h2>
  <button type="button" class="btn btn-info" routerLink="/admin/user">Create User</button>
  <hr/>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Usuario</th>
        <th>Nombre de Usuario</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Fecha de Creación</th>
        <th>Operaciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user._id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>{{user.timecreated | date : "yyyy/MM/dd hh:mm:ss" }}</td>
        <td>
          <button type="button" class="btn btn-primary" [routerLink]="['/admin/user', user._id ]">Editar</button>
          <button type="button" class="btn btn-warning" (click)="openResetPWdModal(resetPwd, user._id)">Resetear Contraseña</button>
          <button type="button" class="btn btn-danger" (click)="openModal(confirmDlg, user._id)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #confirmDlg>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Borrar Usuario</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="decline()">
                  <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
      <p>¿Seguro que quieres borrar este usuario?</p>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="loading" class="btn btn-default" (click)="confirm()">Sí</button>
      <app-widget-loading-image [loading]="loading"></app-widget-loading-image>
      <button type="button" class="btn btn-primary" (click)="decline()">No</button>
    </div>
  </ng-template>
  <ng-template #resetPwd>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Resetear Contraseña</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="declineResetPwd()">
                    <span aria-hidden="true">&times;</span>
                  </button>
    </div>
    <div class="modal-body">
      <p>¿Seguro que quieres borrar esta contraseña?</p>
    </div>
    <div class="modal-footer">
      <button type="button" [disabled]="loading" class="btn btn-default" (click)="confirmResetPwd()">Sí</button>
      <app-widget-loading-image [loading]="loading"></app-widget-loading-image>
      <button type="button" class="btn btn-primary" (click)="declineResetPwd()">No</button>
    </div>
  </ng-template>
</div>